#test {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
div.testArea {
    display: inline-block;
    width: 17em;
    height: 5em;
    box-sizing: border-box;
    position: relative;
}
div.testName {
    font-size: 1.5em;
    text-align: left;
    width: 5em;
    position: absolute;
    left: 6.33333em;
    text-align: left;
}
div.meterText{
    display: inline-block;
    left: 0em;
    position: absolute;
    width: 2.333em;
    font-size: 4em;
    font-weight: bold;
    line-height: 1em;
    text-align: right;
}
div.meterText:empty:before{
    content: "0.0";
}
div.unit {
    position: absolute;
    left: 9.5em;
    top: 2.3em;
    width: 5em;
    text-align: left;
}
div.testGroup{
    display:inline-block;
}
@media all and (max-width:40em){
    div.testGroup{
        display:block;
        margin: 0 auto;
    }
}
